<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title>{{'SPEAKERS' | translate}}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let conventionArray of conventionList"  >
    <ion-list *ngFor="let convention of conventionArray.Conventions"  >

    <ion-card>
      <ion-card-content>
       <h1>{{ convention.convention_name }}</h1>
       <ion-list *ngFor="let speaker of convention.speakers"  >

         <button ion-button small (click)="openWithInAppBrowser(speaker.fileName)">{{ speaker.Title }}</button>

       </ion-list>
       </ion-card-content>
    </ion-card>
  </ion-list>
</ion-list>

</ion-content>
